challenge_id = "glitch-it"

challenge_name = "Glitch It!"

challenge_description = '''
Inspired by a real bug in SEPROM :D
'''

challenge_spoilers = '''
Challenge based on the hardware concept of using glitching to skip instructions.
Implemented in software by having capstone disassemble a target function
and letting the user pick which addresses they want to replace with nops.
I actually tried to do the input checking properly too, here's hoping none
of the competitors find a bug with that haha

The target function for glitching is a spicy one, namely it's "memory safe gets"
via use of two mmapped pages and some trickery with signal handlers.

The intended solution path:
- There is a call that puts a stack pointer into RDI near the gets() call
- We want that stack pointer to stay in RDI
- NOP out any instruction that modifies RDI before the gets() call
- So we gets() to a stack pointer instead of the safe mmapped page
- Then it's ez stack smash
'''

author = "glenns"

hints = [
    "Manipulate the arguments to the call to gets()",
    "There's a stack pointer in rbp-28 stored into rdi close to gets() which can be preserved"
]
